.wrapper {
width: 100vw;
height: 100vh;
align-items: center;
justify-content: center;
}
.slider {
    width: 100vw;
    height: 50px;
    position: relative;
    background: white;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
}
.slide {
    height: 50px;
    display: flex;
    align-items: center;
    animation: slideshow 8s linear infinite;
    
}


div a:hover img {
    border: 5px solid black;
    overflow: hidden;
}
div a:hover img {
    margin: -5px;
}

.slide img {
    height: 50px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
    
}
.slider::before, .slider::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

#d0:hover #d1 {
    animation-play-state: paused;
}
#d0:hover #d2 {
    animation-play-state: paused;
}
#d0:hover #d3 {
    animation-play-state: paused;
}


body{
	margin: 0 auto;
	width:100%;
    max-width: 1400px;
}
.container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
}
.navbar{
	width:100%;
	display:flex;
	justify-content:space-around;
	background-color: dodgerblue;
}
.navbar .nav-left .logo-div h3{
	color:yellow;
}
.navbar .nav-right .links-div a, .navbar .nav-right .links-div .dropdown{
	margin-top:20px;
	color:white;
	text-decoration:none;
	font-weight:bold;
}
.navbar .nav-right .links-div a:hover{
	color:green;
	border-bottom:5px solid green;
}
.navbar .nav-right .links-div .dropdown:hover{
	color:green;
	border-bottom:5px solid green;
	cursor:pointer;
}
.navbar .nav-right .links-div label{
	margin-top:20px;
}
.links-div{
	width:800px;
	display:flex;
	justify-content:space-around;
}
.fa-bars{
	margin-top:15px;
	color:white;
	cursor:pointer;
}
.navbar .nav-right .bars-div .fa-bars{
	margin-top:15px;
}
.bars-div{
	display:none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  color:black;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/*tab css here*/
.about-me{
	font-size:30px;
	text-align:center;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.content {
	background:mediumseagreen;
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
.sub-headings{
	text-align:center;
}
#about, #thoughts,footer{
	margin-top:100px;
}

/*grid css here*/
.grid-col-2{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px; 
	grid-row-gap: 20px; 
}
.grid-img{
	height:400px;
	width:600px;
}
.image{
	width:100%;
	height:100%;
	object-fit:cover;
}

footer{
	background:#1d9c73;
	color:white;
}
.footer{
	padding:20px;
	display:flex;
	justify-content:space-around;
}
/*@media only screen and (max-width: 992px) {
	.grid-col-2{
		grid-template-columns:1fr;
	}
	.grid-img{
		height:400px;
		width:800px;
		margin-left:75px;
	}
	.image{
		width:100%;
		height:100%;
		object-fit:cover;
	}
	#thoughts{
		margin-left:10px;
		margin-right:10px;
	}
	#description{
		margin-right:10px;
		margin-left:10px;
	}
}
@media only screen and (max-width: 667px) {
	.navbar{
		justify-content:space-between;
		flex-flow:column;
	}
	.links-div{
		flex-flow:column;
	}
	#links{
		display:none;
	}
	.bars-div{
		display:block;
	}
	.nav-left{
		display:flex;
		justify-content:space-around;
		flex-direction:row;
	}
	.navbar .nav-right .links-div a:hover{
		border-bottom:0px;
	}
	.navbar .nav-right .links-div a,.navbar .nav-right .links-div .dropdown{
		margin-left:20px;
	}
	.grid-col-2{
		grid-template-columns:1fr;
	}
	.grid-img{
		height:400px;
		width:420px;
		margin-left:30px;
	}
	.image{
		width:100%;
		height:100%;
		object-fit:cover;
	}
	.slider img{
	width:100%;
	height:75%;
	}
	#thoughts{
		margin-left:10px;
		margin-right:10px;
	}
	#description{
		margin-right:10px;
		margin-left:10px;
	}
}
*/

#slide-img {
    width: 100%;

    height: 70vh;
}
p {
    text-align: center;
    padding: 10px;
}
